[submodule "tools/krafix"]
	path = tools/krafix
	url = https://github.com/Kode/krafix_bin
[submodule "tools/KincTools_linux_x64"]
	path = tools/KincTools_linux_x64
	url = https://github.com/Kode/KincTools_linux_x64
